{% extends "layout.html" %}
{% block title %} Tambah Data Barang {% endblock %}
{% block content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Data Produk</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                  class="fas fa-minus"></i></button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col" posisi="kiri">
                <form action="/product/edit/{{product.id}}" method="post" enctype="multipart/form-data">
                  <div>
                    <label>Kode Produk</label>
                    <input class="form-control" type="text" name="product_code" value="{{product.product_code}}" required>
                    <label>Nama Produk</label>
                    <input class="form-control" type="text" name="product_name" value="{{product.product_name}}" required>
                    <div class="form-group">
                      <label>Kategori</label>
                      <select class="form-control select2" id="category" name="category" style="width: 100%;">
                        {% for rows in category %}
                        <option value="{{rows.0}}">{{rows.1}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <label>Harga Jual</label>
                    <input class="form-control" type="text" name="price_sell" value="{{product.price_sell}}" required>
                    <label>Stok</label>
                    <input class="form-control" type="text" name="stock" value="{{product.stock}}" required>
                    <label>Deskripsi</label>
                    <textarea class="form-control" rows="7" name="product_desc" required>{{product.product_desc}}</textarea>
                  </div>
              </div>
              <div class="col" posisi="kanan">
                <label>Diskon</label>
                    <input class="form-control" type="text" name="disc" value="{{product.disc}}" required>
                <label>QR / Barcode</label>
                    <input class="form-control" type="text" name="qr_bar_code" value="{{product.qr_bar_code}}" required>

                <div class="form-group">
                  <label for="gambar_1">Gambar 1</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="gambar_1" name="gambar_1">
                      <label class="custom-file-label" for="gambar_1">Pilih Gambar</label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="gambar_2">Gambar 2</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="gambar_2" name="gambar_2">
                      <label class="custom-file-label" for="gambar_2">Pilih Gambar</label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="gambar_3">Gambar 3</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="gambar_3" name="gambar_3">
                      <label class="custom-file-label" for="gambar_3">Pilih Gambar</label>
                    </div>
                  </div>
                </div>

                  <input type="submit" value="Update Produk" class="btn btn-primary active">
                                
              </div>
            </div>

            </form>
          </div>
          <!-- /.card-body -->
        </div>

      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>

{% endblock %}