{% extends "layout.html" %}
{% block title %} Produk {% endblock %}
{% block content %} 
<!-- Main content -->

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <div class="callout callout-info">
          <h5><i class="fas fa-info"></i> Note:</h5>
          Sebelum mengedit produk pastikan telah melakukan supplier order.
        </div>
        
        <div>
          <a href="/add_product" class="btn btn-primary active" role="button" aria-pressed="true">Tambah Produk</a>
        </div>
        <br>

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Data Produk</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="tblproduk" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Kode Produk</th>
                  <th>Nama Produk</th>
                  <th>Kategori</th>
                  <th>Harga Jual</th>
                  <th>Stock</th>
                  <th>Diskon %</th>
                  <th>Deskripsi Produk</th>
                  <th>QR / Barcode</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for data in product %}
                  <td>{{ loop.index }}</td>
                  <td>{{ data.1 }}</td>
                  <td>{{ data.2 }}</td>
                  <td>{{ data.3 }}</td>
                  <td>Rp.{{ data.4 }}</td>
                  <td>{{ data.5 }}</td>
                  <td>{{ data.6 }}</td>
                  <td>{{ data.7 }}</td>
                  <td>{{ data.8 }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>

<!-- page script -->
<script>
  $(document).ready(function () {
    $("#tblproduk").DataTable({
      "responsive": true,
      "autoWidth": false
    });
  });
</script>
{% endblock %}